
/* Собственно сам слайдер */
.games__slider, .multi-games__slider, .child-games__slider{
    max-width: 80%;
    position: relative;
    height: 500px;
    margin: 0 auto;

}
.games__wrap, .multi-games__wrap, .child-games__wrap{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* Картинка маштабируется по отношению к родительскому элементу */

.games__slider .games__item img,
.multi-games__slider .multi-games__item img,
.child-games__slider .child-games__item img{
    height: 250px;

}

.games p{
    line-height: 1.3em;
}

/* Кнопки вперед и назад */
.games__slider .games__prev,
.games__slider .games__next,
.multi-games__slider .multi-games__prev,
.multi-games__slider .multi-games__next,
.child-games__slider .child-games__prev,
.child-games__slider .child-games__next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -o-transition:0.6s ease;
}



.games__slider .games__next,
.multi-games__slider .multi-games__next,
.child-games__slider .child-games__next{
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */


.games__slider .games__prev:hover,
.games__slider .games__next:hover,
.multi-games__slider .multi-games__prev:hover,
.multi-games__slider .multi-games__next:hover,
.child-games__slider .child-games__prev:hover,
.child-games__slider .child-games__next:hover{
    background-color: #a0f;
}

/* Квадраты */

.slider-dots{
    text-align: center;

}
.slider-dots_item,
.games-dots_item,
.multi-games-dots_item,
.child-games-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #fff;
    border: #bbbbbb 1px solid;
    display: inline-block;
    transition: background-color 0.6s ease;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover,
.games-dots_item:hover,
.multi-games-dots_item:hover,
.child-games-dots_item:hover{
    background-color: #6b0e47;
}


/* Анимация слайдов */

.games__slider .games__item,
.multi-games__slider .multi-games__item,
.child-games__slider .child-games__item{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -moz-animation-name:fade ;
    -moz-animation-duration: 1.5s;
    -o-animation-name:fade;
    -o-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}