@media (max-width: 907px) {
    .about__wrap{

        flex-direction: column;
    }
    .header__menu li a{
        font-size: 24px;
    }


}
@media (max-width: 767px) {
    .header__flex,
    .header__menu,
    .header__title,
    .price__inner,
    .about__wrap{
        flex-direction: column;
    }

    .header__menu{
        padding-top: 20px;
    }
    .price__inner-table{
        padding-bottom: 30px;
    }
    .tab-title{
        padding: 20px 50px;
    }

}
@media (max-width: 660px){
    .tab-title{
        padding: 20px 20px;
    }

    .clients__slider .clients__prev,
    .clients__slider .clients__next,
    .games__slider .games__prev,
    .games__slider .games__next,
    .multi-games__slider .multi-games__prev,
    .multi-games__slider .multi-games__next,
    .child-games__slider .child-games__prev,
    .child-games__slider .child-games__next{
        top: 60%;
    }
    .games__item p,
    .multi-games__item p,
    .child-games__item p{
        padding-top: 40px;
    }
    .testimonials{
        height: 400px;
    }
    .slider__flex{
        flex-direction: column;
    }

    .slider__flex img{
        height: 150px;
        border: 2px solid white;
    }
    .slider__indicators{
        display: none;
    }
    .slider__control{
        display: block;
        top: 100px;
    }
    .slider-dots{
        padding: 80px 0;
    }
    .about{
        padding-top: 160px;
    }
}

@media (max-width: 465px){
    .games__title{
        font-size: 18px;
    }
    .header__title--vive img{
        width: 100%;
    }
    .tab-title{
        padding: 20px 2px;
    }
    .games__slider .games__item img,
    .multi-games__slider .multi-games__item img,
    .child-games__slider .child-games__item img{
        width: 100%;

    }
    .testimonials{
        height: 500px;
    }
    .games__item p,
    .multi-games__item p,
    .child-games__item p{
        padding-bottom: 40px;
        font-size: 15px;
    }
    .contacts{
        flex-direction: column;
    }
    .contacts__time{
        padding-top: 20px;
    }
}
@media (max-width: 357px){
    .tab-title{
        font-size: 18px;
    }
    .clients__slider .clients__prev,
    .clients__slider .clients__next,
    .games__slider .games__prev,
    .games__slider .games__next,
    .multi-games__slider .multi-games__prev,
    .multi-games__slider .multi-games__next,
    .child-games__slider .child-games__prev,
    .child-games__slider .child-games__next{
        top: 50%;
    }
    .games__slider .games__item img,
    .multi-games__slider .multi-games__item img,
    .child-games__slider .child-games__item img{
        height: 200px;

    }

    .about{
        padding-top: 170px;
    }
    .testimonials{
        height: 555px;
    }
}
