@import url('https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@font-face {
    font-family: Accuratist; /* Гарнитура шрифта */
    src: url(../fonts/Accuratist/Accuratist.otf);
    src: url(../fonts/Accuratist/Accuratist.ttf);
}
.layout{
    min-width: 980px;
}
.header,
.price,
.games,
.about,
.testimonials,
.contacts{
    width: 980px;
    margin: 0 auto;
    font-family: Roboto, serif;
}

/*HEADER*/

#header,
#about{
    background-color: #fbfbfb;
}


.header__flex{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo h1,
.header__title h2,
.about__VR{
    font-family: Accuratist, serif;
    font-size: 80px;
    background: linear-gradient(to bottom, #d628bd 20%, #1c0719 80%);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header__contacts a{
    font-family: Roboto, serif;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 30px;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu a {
    font-family: Roboto, serif;
    text-decoration: none;
    color: #819ca9;
    text-transform: uppercase;
    display: block;
    padding: 10px 15px;
    font-size: 30px;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
}
.header__menu a:hover,
.header__contacts a:hover {
    color: #d628bd;
}
.header__controller{
    text-align: center;
}
.header__controller img{
    width: 300px;
}
.header__title--flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__title h2{
    font-size: 40px;
    padding: 5px;
}
.header__title h3 {
    color: #8993ad;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}



.price__inner{
    align-items: center;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    padding-bottom: 20px;
}
.price__inner .price__inner-table{
    margin: 0 auto;
    align-items: center;
    display: flex;
    align-content: space-between;
}

.price__table{
    cursor: default;

}
.price__table{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
}

.price__table td{
    border-top: 10px solid #CCCCFF;
    padding: 8px;
    background: #fff;
}
.price__table tr:nth-child(n+3):hover td{
    background-color: #CC99FF;
}
.price__days td{
    text-align: center;
    background-color: #bbbbbb;
    font-weight:bold;
}


.price h3,
.games h3,
.about h3,
.testimonials h3{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px 0;
    color: #fbfbfb;
    font-weight: 700;
}
#price,
#testimonials{
    background-image: linear-gradient(to bottom right, #feb692, #7367f0);

}


.games{
    height: 800px;
}
.games h3,
.about h3{
    color: #000;
    font-weight: 500;
}

.tabs {
    position: relative;
}

.tab,
.tab-title {
    display: inline-block;
}

.tab input[type="radio"] {
    display: none;
}

.tab-title {
    font-size: 20px;
    color: #fff;
    margin: 0 auto;
    background: #a0f;
    padding: 20px 80px;
}
.tab-title:hover{
    cursor: pointer;
}
.tab-content {
    height: 600px;
    background: #fff;
    position: absolute;
    left: 0;
    width: calc(100% - 20px);
    display: none;
}

.tab :checked + .tab-title {
    color: #000;
    position: relative;
    background: #CCCCFF;

    z-index: 1;
}

.tab :checked ~ .tab-content {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.games__title,
.multi-games__title,
.child-games__title{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 1.7em;
    color:#000;
}

.games__item, .multi-games__item, .child-games__item{
    text-align: center;
}


.games__item p,
.multi-games__item p,
.child-games__item p{
    font-family: Roboto, sans-serif;
    text-align: justify;
    color: #000;
}



/*ABOUT*/
.about{
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}
.about__VR{
    font-size: 20px;
}
.about__item img{
    height: 150px;
}
.about__wrap{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

/*CONTACTS*/
#contacts{
    text-align: center;
    padding: 25px 0;
    font-size: 20px;
    background-color: #31293c;
    color: #fff;
}
.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts__social a{
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.contacts__social a:hover{
    color: #d628bd;
}
.contacts ul{
    padding-bottom: 15px;
}